body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-image: url('./images/galaxia.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    min-height: 150vh; /* Permite hacer un poco de scroll */
}

h1 {
    color: #ffffff;
    background-color: rgb(31, 23, 31);
    border-radius: 20px;
    padding: 10px;
    position: sticky;
}


.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.boton {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 40px #f293ff;
    animation: glow-border 1.5s infinite alternate;
    transition: transform 0.2s ease;
}

.boton img {
    width: 100%;
    height: auto;
}

.boton:active {
    transform: scale(0.95); /* Efecto cuando haga el click */
}

@keyframes glow-border {
    from {
        box-shadow: 0 0 20px #f293ff, 0 0 10px #8afffd;
    }
    to {
        box-shadow: 0 0 60px #f293ff, 0 0 30px #8afffd;
    }
}

h3 {
    color: #f9cdff;
    padding 50px;
}

h2 {
    color:#f9cdff;
    padding: 10px;
    font-size: 30px;
}

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Mi Página</title>

<!-- estilos generales -->
<link rel="stylesheet" href="main.css">

<!-- celulares -->
<link rel="stylesheet" href="mobile.css" media="screen and (max-width:599px)">

<!-- tablets -->
<link rel="stylesheet" href="tablet.css" media="screen and (min-width:600px)">

<!-- computadoras -->
<link rel="stylesheet" href="desktop.css" media="screen and (min-width:1024px)">

</head>